<div class="row justify-content-md-center mt-5">
	<div class="col-10 align-self-center">

	<mat-card>
		<mat-card-title><b>CONTATO</b></mat-card-title>
		<mat-card-content>
		</mat-card-content>
		<p style="font-size: 20px" class="row justify-content-md-center">
		Para contribuir com o Acervo Digital&ensp;<a href="https://forms.gle/2VdejhfMQWViLVhR9"> clique aqui </a>
		</p>


		<p style="font-size: 20px" class="row justify-content-md-center">
		Algum problema ou sugestão?&ensp;<a href="https://docs.google.com/forms/d/1glsQYAAIWJF3KVIzd90__GbUuczHH2cjSlXTt5Ybiq8">clique aqui</a>
		</p>
	</mat-card>

	</div>
</div>
