.center {
	margin-top: 5px;
	padding-bottom: 20px;
	display: flex;
	justify-content: center;
}

mat-card-content{
	display: flex;
	font-size: 20px;
	margin: 0 auto;
}

mat-card-title{
	font-size: 25px;
	text-align: center;
}

