<div class="mat-app-background page-container">
	<div class=app>
		<div>
			<img class="mx-auto d-block" src="assets/imagem/cabecalho.jpg" alt="cabecalho" width="100%">
		</div>

		<mat-toolbar style='margin: 0, padding: 0' color=accent>
			<mat-toolbar-row>
				<span style="margin: auto"></span>
				<div>
					<a class="toolbar" mat-button [routerLink]="'/'"> Inicio </a>
					<a class="toolbar" mat-button [routerLink]="'/trabalhos'"> Acervo </a>
					<a class="toolbar" mat-button [routerLink]="'/contato'"> Contato </a>
					<a class="toolbar" *ngIf="getLoggedStatus()" mat-button [routerLink]="'/admin'"> Admin </a>
				</div>
				<span style="margin: auto"></span>
					<a (click)="darkModeToggle()"> 
						<fa-icon class=fa-icon [icon]="faCurrent" size="1x"></fa-icon>
					</a>
			</mat-toolbar-row>
		</mat-toolbar>

		<div class = "container-fluid">
			<router-outlet></router-outlet>
		</div>

	</div>

	<mat-toolbar color=accent style="" class="footer">
			OBSERVATÓRIO URBANO
			<span style="margin: auto"></span>
			<span style="margin: auto"></span>

			<a href="https://www.facebook.com/observatoriourbanosjdr/" target="_blank" class=link-icon>
				<fa-icon class="icon" 
					[icon]="faFacebook" 
					size="1x">
				</fa-icon>
			</a>

			<a href="https://www.instagram.com/obsurbanosjdr/" target="_blank" class=link-icon>
				<fa-icon class="icon" 
					[icon]="faInstagram" 
					size="1x">
				</fa-icon>
			</a>
	</mat-toolbar>
</div>

