.app {
	padding-bottom: 2.5rem;
}

.fa-icon{
	cursor: pointer;
}

.center {
	//margin-top: 5px;
	//padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 15px;
}

.toolbar{
	font-size: 17px;
}

.icon {
	cursor: pointer;
	padding-right: 8px;
}

.link-icon {
	font-size: 30px;
}
