<div class="mat-app-background page-container">
	<div class=app>
		<div>
			<img style='margin: 0, padding: 0' class="mx-auto d-block" src="assets/imagem/cabecalho.png" alt="cabecalho" width="100%">
		</div>
		<mat-toolbar  style='margin: 0, padding: 0' color=accent>
			<mat-toolbar-row>
				<span style="margin: auto"></span>
					<a class="toolbar" mat-button [routerLink]="'/'"> Inicio </a>
					<a class="toolbar" mat-button [routerLink]="'/acervo'"> Acervo </a>
					<a class="toolbar" *ngIf="getLoggedStatus()" mat-button [routerLink]="'/admin'"> Administrador </a>
				<span style="margin: auto"></span>
				<a mat-icon-button (click)="darkModeToggle()"><mat-icon>{{icon}}</mat-icon></a>
			</mat-toolbar-row>
		</mat-toolbar>

			<div class = "container-fluid">
				<router-outlet></router-outlet>
			</div>
	</div>

	<mat-toolbar color=accent style="" class="footer">
			OBSERVATÓRIO URBANO DE SÃO JOÃO DEL-REI
			<span style="margin: auto"></span>
			<span style="margin: auto"></span>

			<a href="https://www.facebook.com/observatoriourbanosjdr/" target="_blank" class=link-icon>
				<fa-icon class="icon" 
					[icon]="faFacebook" 
					size="1x">
				</fa-icon>
			</a>

			<a href="https://www.instagram.com/obsurbanosjdr/" target="_blank" class=link-icon>
				<fa-icon class="icon" 
					[icon]="faInstagram" 
					size="1x">
				</fa-icon>
			</a>
	</mat-toolbar>
</div>
