.app {
	padding-bottom: 2.5rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 15px;
}

.toolbar{
	font-size: 17px;
}

.icon {
	padding-right: 8px;
}

.link-icon {
	//color: white;
	font-size: 30px;
}
