<div class="center">

	<mat-card>
		<mat-card-title><b>OBSERVATÓRIO URBANO DE SÃO JOÃO DEL-REI</b></mat-card-title>
		<mat-card-content>
Nossa proposta é organizar um acervo digital de dados, informações, representações cartográficas, fotografias e trabalhos acadêmicos relativos à cidade e ao urbano em São João del-Rei. Criamos esta plataforma online para disponibilizar, à comunidade e pesquisadores, estes documentos em um banco de dados de livre acesso. Até o momento, fizemos o levantamento dos trabalhos acadêmicos. Estes foram descritos em uma ficha, elaborada por nossa equipe, composta por campos de descrição que facilitam a localização e identificação das informações presentes nos documentos. O material pode ser visualizado, integralmente, por meio de links disponibilizados na ficha de descrição. A próxima etapa do nosso trabalho consiste no levantamento e localização de outros tipos de documentos que serão disponibilizados nessa plataforma. 
		</mat-card-content>
		<!--<br>-->
		<!--<p style="font-size: 20px">-->
		<!--Para contribuir com o Acervo Digital <a href="https://forms.gle/2VdejhfMQWViLVhR9">clique aqui</a>-->
		<!--</p>-->

		<!--<p style="font-size: 20px">-->
		<!--Algum problema ou sugestão? <a href="https://docs.google.com/forms/d/1Q1krIaRTzw6j3qD0wB2kavQSMvVljnth-fmI2P-PdEw/viewform?edit_requested=true">clique aqui</a>-->
		<!--</p>-->
	</mat-card>

</div>
