<div class="center">

	<mat-card>
		<mat-card-title><b>OBSERVATÓRIO URBANO DE SÃO JOÃO DEL-REI</b></mat-card-title>
		<mat-card-content>
		O Observatório Urbano tem sua validação institucional por meio do edital 001/2019/Reitoria, para projetos de pesquisa e inovação, que se afinem à Agenda 2030 das Nações Unidas para o desenvolvimento sustentável. Todas as suas atividades respondem a ações vinculadas ao objetivo 11: "Tornar as cidades inclusivas, seguras, resilientes e sustentáveis".
		<br>
		Para atingir seus objetivos, apresentamos uma série de ações e práticas que visam estabelecer um senso mais amplo de conhecimento da comunidade sobre questões urbanas, produção espacial e planejamento de políticas da cidade, a fim de enfrentar o desconhecimento que a população carrega quando se trata desses assuntos.
		</mat-card-content>
	</mat-card>

</div>
