<div>
  <img class="rounded mx-auto d-block" src="assets/imagem/cabecalho.png" alt="cabecalho" width="100%">
</div>
<mat-toolbar >
  <mat-toolbar-row>
    <span style="margin: auto"></span>
	 <a class="toolbar" mat-button [routerLink]="'/'"> Inicio </a>
      <a class="toolbar" mat-button [routerLink]="'/acervo'"> Acervo </a>
      <a class="toolbar" mat-button [routerLink]="'/admin'"> Administrador </a>
    <span style="margin: auto"></span>
  </mat-toolbar-row>
</mat-toolbar>
<div class = "container-fluid">
  <router-outlet></router-outlet>
</div>
