h1 {
  font-size: 28px;
}
.cell-titulo {
	cursor: pointer;
	padding-right:20px
}

.cell-autor {
	cursor: pointer;
}

.cell-acoes {
	padding-left:15px
}

.download-button {
	color: #0e8ef1;
}

.mat-tooltip {
  font-size: 12px;
}
