<div class="row justify-content-md-center mt-5">
	<div class="col-10 align-self-center">

		<h1>Trabalhos
			<fa-icon class="help" 
				#tooltip="matTooltip"
				matTooltip="Para usar o filtro basta apenas que pesquise pelo termo desejado" 
				matTooltipPosition="right" 
				(click)="tooltip.toggle()"
				[icon]="faQuestionCircle" 
				size="1x">
			</fa-icon>
		</h1>

		<div>
			<mat-form-field>
				 <input #busca matInput type="text" (keyup)="doFilter(busca.value)" placeholder="Filtro">
			</mat-form-field>
		</div>

	</div>
</div>

<div class="row justify-content-md-center tabela">
	<div class="col-10">

		<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" width="100%" matSort>

			<tr class="mat-row" *matNoDataRow>
				<td class="mat-cell" colspan="9999">
					Nehuma corresponência
				</td>
			</tr>
            
			<ng-container matColumnDef="titulo">
				<th mat-header-cell *matHeaderCellDef > Titulo </th>
				<td class="cell-titulo" mat-cell (click)="openViewDialog(acervo)" *matCellDef="let acervo"> {{acervo.titulo}} </td>
			</ng-container>
        
			<ng-container matColumnDef="autor">
				<th mat-header-cell *matHeaderCellDef > Autor </th>
				<td class="cell-autor" mat-cell (click)="openViewDialog(acervo)" *matCellDef="let acervo"> {{acervo.autor}} </td>
			</ng-container>
            
			<ng-container matColumnDef="acoes">
				<th class="cell-acoes" mat-header-cell *matHeaderCellDef>Baixar</th>
				<td mat-cell *matCellDef = "let acervo">
					<button matTooltip="Baixar" matTooltipPosition="right" mat-icon-button (click)="download(acervo)">
						<fa-icon class="download-button" [icon]="faDownload" ></fa-icon>
					</button>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let acervo; columns: displayedColumns;"></tr>

		</table>
		<mat-paginator style="padding-bottom: 20px" class="float-right" [pageSize]="20" [pageSizeOptions]="[20, 40, 60, 100, 200]">	</mat-paginator>

	</div>
</div>

