h1 {
  font-size: 28px;
}

.tabela::-webkit-scrollbar {
	width: 0 !important;
}
.tabela{
	overflow-x: scroll;
}

.center {
	margin-top: 5px;
	padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.cell-titulo {
	cursor: pointer;
	padding-right:10px
}

.cell-autor {
	cursor: pointer;
}

.cell-acoes {
	//padding-left:15px
}

.download-button {
	color: #0e8ef1;
}

.mat-tooltip {
  font-size: 12px;
}
