.cell-id,.cell-titulo {
	cursor: pointer;
	padding-right:20px
}

.tabela::-webkit-scrollbar {
	width: 0 !important;
}
.tabela{
	overflow-x: scroll;
}

.cell-autor {
	cursor: pointer;
}

.add-button {
	color: #000000;
}

.trash-button {
	color: #aa2222;
}

.help {
	cursor: pointer;
     margin-top: 100px;
     padding-left: 10px; 
}
.mat-tooltip {
     font-size: 12px;
}
