<div class="row justify-content-md-center mt-5">
	<div class="col-10 align-self-center">
		<h1>Trabalhos
			<fa-icon class="help" 
				#tooltip="matTooltip"
				matTooltip="Para usar o filtro basta apenas que pesquise pelo termo desejado" 
				matTooltipPosition="right" 
				(click)="tooltip.toggle()"
				[icon]="faQuestionCircle" 
				size="1x">
			</fa-icon>
		</h1>
		<div fxLayout="row" fxLayoutAlign="space-between center" fxLayout fxLayoutAlign="start center">
			<mat-form-field>
				<input #busca matInput type="text" (keyup)="doFilter(busca.value)" placeholder="Filtro">
			</mat-form-field>
			<span style="margin: auto; float: right"></span>
			<button mat-icon-button (click)="atualizarJson()" style="margin-right: 0px">
				<fa-icon 
					[icon]="faSyncAlt" 
					size="2x"
					matTooltip="Atualizar banco de dados dos usuários" 
					matTooltipPosition="right">
				</fa-icon>
			</button>

		</div>
	</div>
</div>

<div class="row justify-content-md-center tabela">
    <div class="col-10">

		<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" width="100%" matSort>
			<tr class="mat-row" *matNoDataRow>
				<td class="mat-cell" colspan="9999">
					Nehuma corresponência
				</td>
			</tr>

			<ng-container matColumnDef="id" >
				<th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
				<td class="cell-id" mat-cell *matCellDef="let acervo" (click)="openEditDialog(acervo)"> {{acervo.id}} </td>
			</ng-container>

			<ng-container matColumnDef="titulo">
				<th mat-header-cell *matHeaderCellDef> Titulo </th>
				<td class="cell-titulo" mat-cell *matCellDef="let acervo" (click)="openEditDialog(acervo)"> {{acervo.titulo}} </td>
			</ng-container>
        
			<ng-container matColumnDef="autor">
				<th mat-header-cell *matHeaderCellDef> Autor </th>
				<td class="cell-autor" mat-cell *matCellDef="let acervo" (click)="openEditDialog(acervo)"> {{acervo.autor}} </td>
			</ng-container>
            
			<ng-container matColumnDef="acoes">
			<th mat-header-cell *matHeaderCellDef>
				<button matTooltip="Inserir" matTooltipPosition="right" mat-icon-button class="float-right" (click)="openNewDialog()">
					<fa-icon class=add-button [icon]="faAdd" size="1x"></fa-icon>
				</button>
			</th>
			<td mat-cell *matCellDef = "let acervo">
				<button matTooltip="Deletar" matTooltipPosition="right" class="float-right" mat-icon-button (click)="excluir(acervo)">
					<fa-icon class=trash-button [icon]="faTrash"></fa-icon>
				</button>
			</td>
			</ng-container>
            
			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let acervo; columns: displayedColumns;"></tr>
		</table>
		<mat-paginator style="padding-bottom: 20px" class="float-right" [pageSize]="20" [pageSizeOptions]="[20, 40, 60, 100, 200]">	</mat-paginator>
	</div>
</div>
