.cell-id,.cell-titulo {
	cursor: pointer;
	padding-right:20px
}

.cell-autor {
	cursor: pointer;
}

.add-button {
	color: #000000;
}

.help {
	cursor: pointer;
     margin-top: 100px;
     padding-left: 10px; 
}
.mat-tooltip {
     font-size: 12px;
}
