<h1 mat-dialog-title>Detalhes do trabalho</h1>
<div mat-dialog-content>
  <div class="row">
	<h3><b>Titulo: </b> {{data.titulo}}</h3>
  </div>

  <div class="row">
	<h3><b>Autor: </b> {{data.autor}}</h3>
  </div>

  <div class="row">
	<h3><b>Gênero Documental: </b> {{data.generoDocumental}}</h3>
  </div>

  <div class="row">
	<h3><b>Tipo de documento: </b> {{data.tipoDocumental}}</h3>
  </div>

  <div class="row">
	<h3><b>Apresentação gráfica: </b> {{data.apresentacaoGrafica}}</h3>
  </div>

  <div class="row">
	<h3><b>Área de conhecimento: </b> {{data.area}}</h3>
  </div>

  <div class="row">
	<h3><b>Palavras-Chaves / Assunto: </b>{{data.assunto}}</h3>
  </div>

  <div class="row">
	<h3><b>Data de produção: </b> {{data.dataProducao}}</h3>
  </div>

  <div class="row">
	<h3><b>Local de produção: </b> {{data.instituicao}}</h3>
  </div>

  <div class="row">
	  <h3><b>Ambito e Conteúdo: </b> {{data.ambito}}</h3>
  </div>

  <div class="row">
    <h3>
	 <p>
	   <b>Nota Gerais: </b> 
	   <strong class="notas-gerais" *ngIf="orientador">Orientador: {{data.orientador}} &nbsp;&nbsp;</strong>
	   <strong class="notas-gerais" *ngIf="recorteTemporal">Recorte Temporal: {{data.recorteTemporal}} &nbsp;&nbsp;</strong>
	   <strong class="notas-gerais" *ngIf="recorteEspacial">Recorte Espacial: {{data.recorteEspacial}} &nbsp;&nbsp;</strong>
	   <strong class="notas-gerais" *ngIf="local">Local/Bairro: {{data.local}}</strong>
	 </p>
    </h3>
  </div>

</div>


<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Fechar</button>
  <button mat-button (click)="download()">Download</button>
</div> 
